@import url(http://fonts.googleapis.com/css?family=Oswald);
@import url(http://fonts.googleapis.com/css?family=Roboto);

* {
    margin: 0;
    padding: 0;
}

.fullWrapper {
    width: 100%;
}

.wrapper {
    width: 960px;
    margin: 0 auto;
}

#menu {
    list-style: none;
    background-color: black;
    min-height: 50px;
}

#menu li {
    float: left;
    position: relative;
}

#menu li a {
    text-decoration: none;
    font-family: 'Oswald', sans-serif;
    color: #afaaaa;
    padding: 10px 20px;
    display: block;
}

#menu li a:hover {
    color: white;
    border-bottom: 3px solid white;
}

#menu li ul {
    list-style: none;
    background-color: black;
    width: 120px;
    position: absolute;
    left: -9999px;
}

#menu li:hover ul{
    left: 0;
}

#menu li ul li {
    float: none;
    position: relative;
}

#menu li ul li ul{
    position: absolute;
    left: 120px;
    top: -9999px;
}

#menu li ul li:hover ul {
    top: 0;
    left: 120px;
}

#menuButtom{
    list-style: none;
    min-height: 48px;
    background-color: rgba(0, 0, 0, 0.589);
    z-index: 5;
    margin-top: -47px;
}   

#menuButtom li {
    float: left;
}

#menuButtom li a {
    text-decoration: none;
    font-family: 'Oswald', sans-serif;
    color: #afaaaa;
    padding: 10px 20px;
    display: block;
}

#menuButtom li a:hover {
    color: white;
    border-top: 3px solid green;
}
section img {
    width: 100%;
    height: 285px;
    display: block;
    z-index: -99;
    position: relative;
}

.input {
    width: 300px;
    height: 30px;
    border-radius: 5px;
    margin-top: 8px;
    margin-left: 320px;
    position: absolute;
    font-size: 16px;
    border: none;
}

.submit {
    position: relative;
    background-image: url("images/srchIcon.png");
    background-repeat: no-repeat;
    width: 27px;
    height: 27px;
    cursor: pointer;
    margin-left: 590px;
    margin-top: 10px;
    border: none;
}

.contentWrapper {
    
}

.sidebar {
    width: 200px;
    background-color: #d6daad;
    padding: 5px 0px;
    float: left;
    height:1285px;
}

h2 {
    color: white;
    background-color: green;
    font-weight: normal;
    margin-bottom: 10px;
    font-size: 25px;
    padding: 10px;
    margin-top: 10px;
    font-family: 'Oswald', sans-serif;
}

.sidebar ul{
    list-style: none;
}

.sidebar ul li {
    padding: 2px 10px;
}

.sidebar ul li a {
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
    color: #645050;
}

.sidebar ul li a:hover {
    color: #000;
    text-decoration: underline;
}

.content {
    width: 540px;
    background: #f7ebeb;
    padding: 10px;
    float: left;
    height:1275px;
}

.content h2{
    padding: 2px 2px 2px 30px;
    background: url(images/3-bar-menu.png) no-repeat #ddd;
    background-size: 20px 20px;
    background-position: 5px 10px;
    margin: 10px -10px 10px -10px;
    color: black;
}
.content p {
    font-family: 'Roboto', sans-serif;
    margin-bottom: 25px;
    line-height: 1.5em;
    text-align: justify;
    padding: 7px;
}

.content blockquote {
    padding: 25px 0px 15px 47px;
    background: url(images/quote.png) no-repeat #ddd;
    background-size: 41px 55px;
    background-position: 5px 10px;
    font-weight: bold;
    margin-bottom: 15px;
    border-left: 5px solid red;
    margin-left: 25px;
    font-family: 'Roboto', sans-serif;
}

.contact p {
    font-family: 'Roboto', sans-serif;
    padding-left: 5px;
}
.contact input{
    width: 150px;
    height: 15px;
    border-radius: 5px;
    margin-left: 5px;
}
footer {
    background: orange;
    padding: 10px;
    text-align: center;
    font-family: Sans-Serif, Arial;

}

.section {
    background-color: #312F30;
    padding-bottom: 15px;
    overflow: hidden;
    height: 180px;
    width: 100%;
}

.cat {
    width: 300px;
    float: left;
    margin-right: 20px;
}
.cat h2{
    color: #fff;
    background: none;
    font-family: 'Oswald', sans-serif;
    padding-left: 5px;
    border-bottom: 2px solid #dff3e1;
}
.cat ul {
    margin-left: 5px;
}
.cat ul li {
    margin-top: 4px;
    margin-bottom: 4px;
    list-style: none;
}

.cat ul li a {
    text-decoration: none;
    color: white;
    font-family: Sans-Serif, Arial;
}

.cat ul li a:hover {
    color: orange;
}

.cat3 ul li img {
    width: 40px;
    height: 40px;
    padding: 2px 10px;
    float: left;
}